.doctors {
  padding: 20px;
  background-color: #f5f5f5;
}
.doctor {
  background-color: #ffffff;
  border: 2px solid black;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.doctor h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.doctor p {
  font-size: 16px;
  margin: 5px ;
}
.doctor1 {
  width: 150px;       
  height: 150px;     
  border-radius: 10%;
}