.about {
  font-family: Arial;
  background-color: #f2f6f9;
}
.content {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: white;
}
.content h2 {
  color: #0a6ebd;
  margin-top: 20px;
}
.content p {
  margin-bottom: 15px;
}
.content ul {
  padding-left: 20px;
  margin-bottom: 15px;
}
.content li {
  margin-bottom: 5px;
}